{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Stocks</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Total</th>
         </tr>
    </thead>
    {% for stock in stocks %}
        <tr>
            <td>{{stock.stock_code}}</td>
            <td>{{stock.stock_quantity}}
                <div class="dropdown">
                  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    Buy/Sell
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/buy?symbol={{stock.stock_code}}">Buy</a>
                    <a class="dropdown-item" href="/sell?symbol={{stock.stock_code}}">Sell</a>
                  </div>
                </div>
            </td>
            <td>{{stock.stock_price}}</td>
            <td>{{stock.stock_value}}</td>
        </tr>
    {% endfor %}

</table>


{% endblock %}
