{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Stocks</th>
            <th>Shares</th>
            <th>Current Price</th>
            <th>Total</th>
         </tr>
    </thead>
    {% for stock in stocks %}
        <tr>
            <td>{{stock.stock_code}}</td>
            <td>{{stock.stock_quantity}}</td>
            <td>{{stock.stock_price}}</td>
            <td>{{stock.stock_value}}</td>
        </tr>
    {% endfor %}

</table>


{% endblock %}
